@page "/alertdemo"

<h3>AlertDemo</h3>

<Alert AlertType="AlertType.Danger">
    This is the custom alert component.........
</Alert>

<Alert AlertType="AlertType.Success">
   We are success!!!
</Alert>

@code {

}