@using Microsoft.AspNetCore.Components.Sections
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorWebAppDemo</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <hr />
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weatherwithstate">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather state
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weatherwithstreaming">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather streaming
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Rendermode">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Render mode
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LifecycleDemo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lifecycle Demo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cascadeparametersdemo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Cascade Params
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="alertsdemo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Templates Demo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LocalStorageDemo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Local Storage Demo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SessionStorageDemo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Session Storage Demo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dataannotationsvalidatordemo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Edit Form Demo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SSRFormDemo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> SSR Edit Form Demo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="eventcallbackdemo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Event Callback Demo
            </NavLink>
        </div>


        <SectionOutlet SectionName="Menu" />
    </nav>

</div>