@page "/Rendermode"
@using BlazorWebAppDemo.Client.Components.Demo.RenderMode

<h3>RenderModeDemo</h3>
<NewCounter />
<NewCounter @rendermode="InteractiveServer" />
<NewCounter @rendermode="InteractiveWebAssembly" />
<NewCounter @rendermode="@(new InteractiveServerRenderMode(prerender:false))" />
<NewCounter @rendermode="@(new InteractiveWebAssemblyRenderMode(prerender:false))" />

@code {

}