@page "/javascriptinterop"
@rendermode InteractiveServer
@inject IJSRuntime jsRuntime

<h3>JavaScriptInterop</h3>

<button
    class="btn btn-primary"
    @onclick="HandleClick">
    Click me
</button>

@code {

    public async Task HandleClick()
    {
        var confirmed = await jsRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
        if (confirmed)
        {
            await jsRuntime.InvokeVoidAsync("alert", "You clicked OK!");
        }
        else
        {
            await jsRuntime.InvokeVoidAsync("alert", "You clicked Cancel!");
        }
    }
}