@page "/errorboundrydemo"


<h3>ErrorBoundryDemo</h3>
<ErrorBoundary>
    @(1/zero)
</ErrorBoundary>
<br /><br />

<ErrorBoundary>
    <ChildContent>
        @(1 / zero)
    </ChildContent>
    <ErrorContent>
        <h3>Oops! Something went wrong!</h3>
    </ErrorContent>
</ErrorBoundary>
<br/><br />

<ErrorBoundary Context="ex">
    <ChildContent>
        @(1 / zero)
    </ChildContent>
    <ErrorContent>
        <h3>Oops! Something went wrong!</h3>
        @ex.Message
    </ErrorContent>
</ErrorBoundary>

@code {

    int zero = 0;
}